
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
             
    
                <meta charset="utf-8"/>
<title>Unitec</title>
<meta name="fb_admins_meta_tag" content=""/>
<link rel="shortcut icon" href="http://www.wix.com/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" href="http://www.wix.com/favicon.ico" type="image/x-icon"/>
<link rel="canonical" href="http://localhost:3000/the-artist-es"/>
    <meta http-equiv="X-Wix-Renderer-Server" content="app11.tam"/>
<meta http-equiv="X-Wix-Meta-Site-Id" content="20b233b2-abd9-4b2e-a9dc-99a4bb7ae059"/>
<meta http-equiv="X-Wix-Application-Instance-Id" content="443ad9e3-c052-4d36-8ec0-7b2d110f3c89"/>
<meta http-equiv="X-Wix-Published-Version" content="18"/>

<meta http-equiv="etag" content="33895d4bbbbb44c33538a4f36857ef2c"/>
<meta property="og:title" content="the-artist-es"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="http://localhost:3000/the-artist-es"/>
<meta property="og:site_name" content="the-artist-es"/>
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>

<meta id="wixMobileViewport" name="viewport" content="minimum-scale=0.25, maximum-scale=1.2"/>


        

            <script>
            // BEAT MESSAGE
    try {
        window.wixBiSession = {
            initialTimestamp : Date.now(),
            viewerSessionId: 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c)
                    { var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8); return v.toString(16); }
            )
        };
        (new Image()).src = 'http://frog.wix.com/bt?src=29&evid=3&pn=1&et=1&v=3.0&vsi=' + wixBiSession.viewerSessionId +
                '&url=' + encodeURIComponent(location.href.replace(/^http(s)?:\/\/(www\.)?/, '')) +
                '&isp=0&st=2&ts=0&c=' + wixBiSession.initialTimestamp;
    } catch (e){}
    // BEAT MESSAGE END
</script>    
    

    <!-- META DATA -->
<script type="text/javascript">

    var serviceTopology = {"serverName":"app11.tam","cacheKillerVersion":"1","staticServerUrl":"http://static.parastorage.com/","usersScriptsRoot":"http://static.parastorage.com/services/wix-users/2.575.0","biServerUrl":"http://frog.wix.com/","userServerUrl":"http://users.wix.com/","billingServerUrl":"http://premium.wix.com/","mediaRootUrl":"http://static.wixstatic.com/","logServerUrl":"http://frog.wix.com/plebs","monitoringServerUrl":"http://TODO/","usersClientApiUrl":"https://users.wix.com/wix-users","publicStaticBaseUri":"http://static.parastorage.com/services/wix-public/1.171.0","basePublicUrl":"http://www.wix.com/","postLoginUrl":"http://www.wix.com/my-account","postSignUpUrl":"http://www.wix.com/new/account","baseDomain":"wix.com","staticMediaUrl":"https://static.wixstatic.com/media","staticAudioUrl":"http://media.wix.com/mp3","emailServer":"http://assets.wix.com/common-services/notification/invoke","blobUrl":"https://static.parastorage.com/wix_blob","htmlEditorUrl":"http://editor.wix.com/html","siteMembersUrl":"https://users.wix.com/wix-sm","scriptsLocationMap":{"wixapps":"https://static.parastorage.com/services/wixapps/2.461.23","tpa":"https://static.parastorage.com/services/tpa/2.1062.0","santa-resources":"https://static.parastorage.com/services/santa-resources/1.0.0","bootstrap":"https://static.parastorage.com/services/bootstrap/2.1229.41","ck-editor":"https://static.parastorage.com/services/ck-editor/1.87.3","it":"https://static.parastorage.com/services/experiments/it/1.37.0","santa":"https://static.parastorage.com/services/santa/1.1013.9","skins":"https://static.parastorage.com/services/skins/2.1229.41","core":"https://static.parastorage.com/services/core/2.1229.41","sitemembers":"https://static.parastorage.com/services/sm-js-sdk/1.31.0","automation":"https://static.parastorage.com/services/automation/1.23.0","web":"https://static.parastorage.com/services/web/2.1229.41","ecommerce":"https://static.parastorage.com/services/ecommerce/1.199.0","hotfixes":"https://static.parastorage.com/services/experiments/hotfixes/1.15.0","langs":"https://static.parastorage.com/services/langs/2.566.0","santa-versions":"https://static.parastorage.com/services/santa-versions/1.419.0","ut":"https://static.parastorage.com/services/experiments/ut/1.2.0"},"developerMode":false,"productionMode":true,"staticServerFallbackUrl":"https://sslstatic.wix.com/","staticVideoUrl":"http://video.wixstatic.com/","scriptsDomainUrl":"https://static.parastorage.com/","userFilesUrl":"http://static.parastorage.com/","staticHTMLComponentUrl":"http://josemembreno991.wix.com.usrfiles.com/","secured":false,"ecommerceCheckoutUrl":"https://www.safer-checkout.com/","premiumServerUrl":"https://premium.wix.com/","appRepoUrl":"http://assets.wix.com/wix-lists-ds-webapp","digitalGoodsServerUrl":"http://dgs.wixapps.net/","wixCloudBaseDomain":"cloud.wix.com","mailServiceSuffix":"/_api/common-services/notification/invoke","staticVideoHeadRequestUrl":"http://storage.googleapis.com/video.wixstatic.com","publicStaticsUrl":"http://static.parastorage.com/services/wix-public/1.171.0","staticDocsUrl":"http://media.wix.com/ugd"};
        var santaModels = true;
    var rendererModel = {"metaSiteId":"20b233b2-abd9-4b2e-a9dc-99a4bb7ae059","siteInfo":{"documentType":"UGC","applicationType":"HtmlWeb","siteId":"443ad9e3-c052-4d36-8ec0-7b2d110f3c89","siteTitleSEO":"Unitec"},"clientSpecMap":{"11":{"type":"sitemembers","applicationId":11,"collectionType":"Open","smtoken":"c758d8d78b370feff949a1c4d94e37dc8c7cf7ea38575817b5f1e989a8b554a976398be7ad7f34e1253ae8a6e554c6a6b89e6894ecd7a6229750ee05df745b14ebfb73ede5071e96f7d96aae96ffa9661617c7e15ac9f9d30c6fd8a39e9854da","smcollectionId":"285ca493-e8f5-4521-abf0-4e275eb83477"},"0":{"type":"appbuilder","applicationId":0,"appDefinitionId":"3d590cbc-4907-4cc4-b0b1-ddf2c5edf297","instanceId":"1416f8f5-2dca-5c1e-11ce-36c4a4fbd68a","state":"Initialized"}},"premiumFeatures":[],"geo":"HND","languageCode":"es","previewMode":false,"userId":"a66950be-cc14-4315-a59d-3af482f028c5","siteMetaData":{"preloader":{"enabled":false},"adaptiveMobileOn":true,"quickActions":{"socialLinks":[],"colorScheme":"dark","configuration":{"quickActionsMenuEnabled":false,"navigationMenuEnabled":true,"phoneEnabled":false,"emailEnabled":false,"addressEnabled":false,"socialLinksEnabled":false}},"contactInfo":{"companyName":"","phone":"","fax":"","email":"","address":""}},"runningExperiments":{"rendererRpcHeadersSanity":"new","sv_mobilePresetStructure":"new","viewerFonts2015":"new","sv_allowEditingGaps":"new","sv_svgLink":"new","fontsTrackingInViewer":"new","sv_batchUpdateAnchors":"new","sv_sectionsReorganizeExp":"new","sv_blogCategories":"new","sv_appFlows":"new","sv_blogVideoThumbnail":"new"}};
    var publicModel = {"domain":"wix.com","externalBaseUrl":"http:\/\/localhost:3000\/the-artist-es","unicodeExternalBaseUrl":"http:\/\/josemembreno991.wix.com\/the-artist-es","pageList":{"masterPage":["https:\/\/static.wixstatic.com\/sites\/a66950_a3153fb1df93b87f992d3dc3039e5215_17.json.z?v=3","https:\/\/staticorigin.wixstatic.com\/sites\/a66950_a3153fb1df93b87f992d3dc3039e5215_17.json.z?v=3","https:\/\/fallback.wix.com\/wix-html-editor-pages-webapp\/page\/a66950_a3153fb1df93b87f992d3dc3039e5215_17.json"],"pages":[{"pageId":"mainPage","title":"INICIO","urls":["https:\/\/static.wixstatic.com\/sites\/a66950_c9de95d122a42b2855414ee77ee9e4c5_6.json.z?v=3","https:\/\/staticorigin.wixstatic.com\/sites\/a66950_c9de95d122a42b2855414ee77ee9e4c5_6.json.z?v=3","https:\/\/fallback.wix.com\/wix-html-editor-pages-webapp\/page\/a66950_c9de95d122a42b2855414ee77ee9e4c5_6.json"]},{"pageId":"c16fm","title":"CONTACTO","urls":["https:\/\/static.wixstatic.com\/sites\/a66950_ae3aa5dbb6a05f77bcbdf2919b2493e5_13.json.z?v=3","https:\/\/staticorigin.wixstatic.com\/sites\/a66950_ae3aa5dbb6a05f77bcbdf2919b2493e5_13.json.z?v=3","https:\/\/fallback.wix.com\/wix-html-editor-pages-webapp\/page\/a66950_ae3aa5dbb6a05f77bcbdf2919b2493e5_13.json"]}],"mainPageId":"mainPage"},"timeSincePublish":4781,"favicon":"","deviceInfo":{"deviceType":"Desktop","browserType":"Chrome","browserVersion":46}};
    


    var googleAnalytics = "UA-2117194-61"
    ;

    var googleRemarketing = "";
    var facebookRemarketing = "";
    var yandexMetrika = "";

</script>


    <meta name="fragment" content="!"/>
    <!-- DATA -->
<script type="text/javascript">
    var adData = {"topLabel":"<span class=\"smallMusa\">(Wix-Logo) </span>Crea un sitio <span class=\"smallLogo\">Wix!</span>","topContent":"100s de plantillas<br /><<Sin necesidad de códigos<br /><span class=\"emphasis spacer\">Empieza ahora >> </span>","footerLabel":"<div class=\"adFootBox\"><div class=\"siteBanner\" ><div class=\"siteBanner\"><div class=\"wrapper\"><div class=\"bigMusa\">(Wix Logo)</div><div class=\"txt shd\" style=\"color:#fff\">Este sitio fue creado con </div> <div class=\"txt shd\"><a  href=\"http://es.wix.com?utm_campaign=vir_wixad_live\" style=\"color:#fff\"> WIX.com. </a></div> <div class=\"txt shd\" style=\"color:#fff\"> Crea tu página web GRATIS <span class=\"emphasis\"> >></span></div></div></div></div></div>","adUrl":"http://es.wix.com/lpviral/es900viral?utm_campaign=vir_wixad_live"};
    var mobileAdData = {"footerLabel":"7c3dbd_82b4e320e776438888d5a4dba966dc62.jpg","adUrl":"http://es.wix.com?utm_campaign=vir_wixad_live"};
    var usersDomain = "https://users.wix.com/wix-users";
        </script>


                    <script type="text/javascript">
    var santaBase = 'https://static.parastorage.com/services/santa/1.1013.9';
        var clientSideRender = true;
    </script>
<script src="https://static.parastorage.com/services/third-party/requirejs/2.1.15/require.min.js"></script>
<script src="https://static.parastorage.com/services/santa/1.1013.9/app/main-r.min.js"></script>
<link rel="stylesheet" href="https://static.parastorage.com/services/santa/1.1013.9/static/css/viewer.css">

    </head>
<body>
                <div id="SITE_CONTAINER"></div>
    
    
        
    
<div comp="wysiwyg.viewer.components.WixAds" skin="wysiwyg.viewer.skins.wixadsskins.WixAdsWebSkin" id="wixFooter"></div>
    
    
    
        
    
</body>
</html>

