<form class="box login" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" value="✓" type="hidden"><input name="authenticity_token" value="f5OW50r9R/RhU6xRgfV8Sp/wMkY4n2YHaSDrlUGkJE246Xeli5iM9rgfbQKHfBcoV6C51NJdWaf7M3oYm6LYxQ==" type="hidden">

  <fieldset class="boxBody">

    <label>Email</label>
    <input autofocus="autofocus" value="" name="user[email]" id="user_email" type="text">

    <label>Password</label>
    <input autocomplete="off" name="user[password]" id="user_password" type="password">

    <footer>
      <input name="commit" class="btnLogin" value="Log in" type="submit">
    </footer>

  </fieldset>

</form>
